*{
    margin: 0;
    padding-left: 0;
    box-sizing: border-box; 
}
header {
    width: 100%;
    background-color: #b4c3cc;
  }
  /*Navbar*/
  header nav li:hover {
    background-color: #d1d1e2;
    color: black;
    border-radius: 10px;
    transition: 1s;
  }
  header nav li a {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: black;
  }
  header nav .te-logo {
    width: 6rem;
    background-color: #b4c3cc;
  }
   .separar{
      margin-top: 3rem;
      
  }
  /*Animacion*/
  .titulo{
    color: rgb(15, 15, 53);
   margin-top: 1.5rem;
    text-align: center;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;

}

 /* Modal*/
  .centrarTitulo{
    text-align: center;
  }
  .celda {
    padding-top: 5px;
    margin-top: 4px;
    border-radius: 5px;
    margin: 5px;
  }
  
  .column-1 {
    display: flex;
    flex-direction: column;
    margin: 20px;
   
    
  }
  .contact {
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
    margin: 20px;
    background-color: antiquewhite;
    border-radius: 50px;
  }
 .error{
   text-align: left;
   color: red;
 }